{
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 100,
    "prettier/prettier": ["error", {}, {
        "fileInfoOptions": {
          "withNodeModules": true
        }
    }]

}
